.table-container {
  margin: 10px 0;
}

.app-table {
  min-height: 57vh;
  max-height: 57vh;
  overflow: auto;
  border-bottom: 1px solid #dee2e6;
}

.table {
  background-color: white;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 10px !important;
  border-top: 1px solid #dee2e6;
  vertical-align: middle !important;
}

.table-header {
  background-color: var(--primary);
}
.table.sticky th {
  background-color: var(--primary);
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table.sticky th::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 0;
  background-color: var(--primary);
}

.table.striped tr:nth-child(even) {
  background-color: #f3f4f5;
}

.table td.disabled span {
  color: #ddd;
  pointer-events: none;
  backface-visibility: hidden;
}

.table th div,
.table td div {
  display: flex;
  align-items: center;
  width: max-content;
}

.table caption.visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 3px;
  white-space: nowrap;
}
/* table,
thead,
tbody,
tr {
  display: block;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
} */
/* .table thead {
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
}

.table thead th {
  text-align: inherit;
  background-color: var(--primary);
  color: white;
}
.table th,
.table td {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  vertical-align: center;
  word-wrap: break-word;
}
.table tbody {
  width: 100%;
  height: 45vh;
  overflow: auto;
}
.table tbody tr {
  transition: all 0.3s;
}

.table tbody tr:hover {
  background-color: #f1f3fa;
} */

.table-link {
  transition: color 0.3s;
}
.table-link:hover,
.table-link:focus {
  color: var(--primary);
}

.table .btn {
  font-size: 13px;
  min-width: max-content;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .app-table {
    min-height: 50vh;
  }
}
