/* BACK BUTTON */
.back-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.back-button:hover {
  background-color: var(--off-white);
}
