/* BACK BUTTON */
.back-button,
.app-icon-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.app-icon-button {
  width: 32px !important;
  height: 32px !important;
  color: #98a6ad;
  margin-right: 10px;
  position: relative;
}

.back-button:hover,
.app-icon-button:hover {
  background-color: var(--off-white);
}

.back-button.on-dark:hover {
  background-color: var(--primary-light);
}

.app-icon-button:hover {
  color: var(--primary);
}

.app-icon-button.active {
  background-color: var(--off-white);
  color: var(--primary);
}

/* Spinner */
.spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.spinner::after {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 3px solid var(--primary);
  border-right: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* tab */
.tab {
  display: flex;
  height: 60px;
  padding: 10px;
  width: 100%;
  background-color: white;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1px;
}

.tab-item {
  height: 38px;
  min-width: 80px;
  cursor: pointer;
  background-color: var(--off-white);
  color: var(--primary);
}
.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.tab-link.active {
  background-color: var(--primary);
  color: white;
}

/* Floating option wrapper */
.floating-option-wrapper {
  position: absolute;
  top: 90%;
  left: 0;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  background-color: white;
  width: max-content;
  transform: scale(0);
  transition: transform 0.3s;
  padding: 3px 0;
  z-index: 900;
  cursor: pointer;
}

.floating-option-wrapper.show {
  transform: scale(1);
}

/* PIP */
.app-pip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  background-color: var(--purple-light);
  color: var(--purple);
  min-width: 60px;
  margin: 5px;
  border-radius: 15px;
  user-select: none;
}

.app-pip-text {
  font-weight: 600;
  flex: 0 0 1;
  width: calc(100% - 15px);
  text-align: center;
}

.app-pip-dismiss {
  margin-left: 10px;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
  width: 15px;
  text-align: center;
}

.app-pip-dismiss:hover {
  color: var(--danger);
}

.floating-btn {
  position: absolute;
  bottom: 80px;
  right: 14%;
  border-radius: 50% !important;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.floating-btn > button {
  border-radius: 50% !important;
}

.react-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0 5px 0;
}

.react-switch-wrapper label {
  width: 92px;
}

@media screen and (max-width: 600px) {
  .floating-option-wrapper {
    top: 30px;
    left: -100px;
  }
  .floating-btn {
    bottom: 30px;
    right: 14%;
  }
}
