.form-auth,
.form-profile {
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  background-color: white;
  width: 45vw;
  padding: 1.5rem 2.5rem;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-profile {
  width: 80vw;
  margin-top: 35px;
}

.form-brand {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  flex-direction: column;
}

.form-brand-logo-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-brand-avatar {
  width: 80%;
  height: 80%;
}

.form-brand-headertext {
  font-weight: 600;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-link,
.form-bottom-text {
  color: var(--primary);
  font-size: 13px;
}
.form-link:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 600px) {
  .form-auth,
  .form-profile {
    width: 90vw;
    margin-top: 18px;
    padding: 1rem;
  }
  .form-profile > form {
    overflow-y: auto;
  }
}
