* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1.6;
}

*::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: #dee2e6; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scroll thumb */
}

a,
a:visited,
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.navbar {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  z-index: 800;
}

.nav-link {
  padding: 0.4rem 0.5rem !important;
  margin: 0 0.5rem !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition: all 0.3s;
  position: relative;
  color: var(--primary-light) !important;
}

.nav-link:not(.active):hover {
  background-color: var(--off-white);
}

.nav-link.active {
  background-color: var(--off-white);
}

.nav-link.options {
  padding: 10px !important;
  margin: 0 0 !important;
  font-weight: normal !important;
}

.nav-link.options span {
  margin-right: 5px;
}
/* .nav-link.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
} */

.nav-user-options {
  display: flex;
  align-items: center;
  margin: 0 0.6rem;
  margin-left: 1rem;
  height: 100%;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 32px;
  transition: all 0.3s;
  position: relative;
}

.nav-user-options:hover,
.nav-user-options:focus {
  background-color: var(--off-white);
}

.user-avatar,
.user-avatar-big,
.user-avatar-large {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--primary-light);
  cursor: pointer;
}

.user-avatar-big {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.user-avatar-large {
  width: 70px;
  height: 70px;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.user-avatar:hover {
  color: #fff !important;
}

.user-avatar-name {
  font-size: 13px;
  text-transform: uppercase;
  color: inherit;
}

.user-options {
  position: absolute;
  top: 100%;
  right: 70%;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  background-color: white;
  width: 130px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  padding: 3px 0;
  transform-origin: top;
}

.user-options.show {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.app-shadow {
  -webkit-box-shadow: 0 0 45px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 45px 0 rgba(154, 161, 171, 0.15);
}

.app-uppercase {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* App Sidebar */
.app-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 850;
}

.app-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 0.3s;
  z-index: 998;
}

.app-sidebar.show {
  transform: translateX(0);
}
.app-sidebar-mobile {
  width: 250px;
  height: 100%;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.app-sidebar-mobile.show {
  transform: translateX(0);
}
.app-sidebar-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.app-sidebar-logo {
  width: 60px;
}

.nav-group-label {
  color: #ccc;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 22px;
  margin-top: 10px;
}

.app-sidebar-text {
  font-size: 13px;
  text-transform: uppercase;
}
.app-sidebar-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--off-white);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.app-sidebar-icon {
  display: inherit;
  width: 20px;
}
.app-sidebar-link {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  transition: all 0.3s;
}
.app-sidebar-link:not(.active):hover {
  background-color: var(--primary-light);
  color: var(--off-white);
}
.app-sidebar-link.active {
  color: white;
  background-color: var(--gold);
}
.menu-close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/* menu toggler */
.app-menu-toggler,
.app-signout-btn,
.app-clipboard-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s;
}

.app-clipboard-btn {
  border-radius: 0;
  height: 100%;
}

.app-menu-toggler:hover,
.app-signout-btn:hover,
.app-clipboard-btn:hover {
  background-color: var(--off-white);
}

/* Customized Bootstrap CSS */
.form-control,
.form-control:focus {
  box-shadow: none !important;
  border-radius: 1px !important;
}

.form-control[readonly] {
  background-color: inherit !important;
}

.form-label,
.form-control {
  font-size: 14px !important;
}

.btn {
  border-radius: 1px !important;
}

.wrapper {
  border-radius: 5px !important;
  overflow: hidden;
}

/* PROFILE PAGE */
.profile-card {
  padding: 15px !important;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile-card.column {
  display: block;
  padding: 10px 12px !important;
}

.profile-card.column .row {
  padding: 6px;
}

.profile-avatar {
  margin: 0 10px;
}

.profile-name-wrapper {
  padding: 0 20px;
  margin: 0 10px;
}

.profile-text {
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: bold;
}

.profile-text.muted {
  font-weight: 500;
  font-size: 13px;
  color: silver;
}

.profile-text.info {
  font-weight: normal;
  font-size: 14px;
}

.profile-text.bottom {
  margin-top: 15px;
}

.profile-text:not(.p-email) {
  text-transform: capitalize;
}

.profile-edit-button-div {
  margin-left: auto;
  align-self: flex-start;
}
.profile-role {
  display: flex;
  align-items: center;
}

.profile-icon-bar {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 15px;
  background-color: var(--primary);
  color: white;
}

/* CELL MEMBERS DISPLAY STYLES */
.member-page-body {
  max-height: calc(100vh - 95px);
}

.member-head-container {
  border-bottom: 1px solid var(--off-white);
}

.member-head {
  display: flex;
  align-items: flex-end;
  padding: 0 10px 10px 10px;
}

.member-head * {
  margin-bottom: 0 !important;
}

.member-head-text {
  margin-right: 20px;
}

.member-head-count {
  display: flex;
  align-items: center;
  height: 31px;
}

.member-head-title {
  margin-bottom: 0 !important;
  font-size: 16px;
  font-weight: 600;
}

.member-searchbox {
  flex: 1;
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
}

.member-sortby {
  width: auto;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.member-sortby .form-group {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.member-menu-toggler {
  margin-left: auto;
  position: relative;
}

.member-menu-toggler > div {
  margin-right: 0;
}

.member-list {
  width: 100%;
  overflow-y: auto;
  user-select: none;
  height: calc(100vh - 190px);
  max-height: calc(100vh - 190px);
}

.member-item {
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 100%;
  overflow-x: auto;
  flex-wrap: wrap;
  position: relative;
}

.member-item:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
}

.member-avatar {
  align-self: flex-start;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--off-white);
  color: var(--primary);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.member-personal-details {
  padding: 0 20px;
  margin: 0 10px;
  min-width: 30%;
}

.member-name {
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.member-email {
  margin-bottom: 0 !important;
  color: silver;
}

.member-status {
  padding: 0 20px;
  margin-left: 0 30px;
}

.member-menu {
  position: absolute;
  top: 10px;
  right: 0;
}

.member-badge {
  padding: 2px 8px;
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  font-size: 12px;
  font-weight: 600;
  margin-right: 20px;
}

.member-no-profile {
  background-color: var(--off-white);
  color: var(--primary);
}

.member-badge-1T {
  background-color: var(--green);
}

.member-badge-2T {
  background-color: var(--teal);
}

.member-badge-3T {
  background-color: var(--blue);
}

.member-badge-NACS {
  background-color: var(--danger);
}

.member-badge-R,
.member-badge-CICS {
  background-color: var(--primary);
}

.member-badge-ACS,
.member-badge-4T {
  background-color: var(--purple);
}

.member-options-filter h6,
.member-options-sort h6 {
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.member-filters {
  display: flex;
  align-items: center;
}

.member-filter-text {
  margin-right: 10px;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.float-options {
  position: absolute;
  top: 30px;
  right: 12px;
  background-color: white;
  z-index: 700;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 250px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  transform: scaleY(0);
  transition: transform 0.1s ease;
}

.float-options.show {
  transform: scaleY(1);
}

.option-head {
  display: flex;
  align-items: center;
}

.option-head > div {
  margin-left: auto;
  margin-right: 0 !important;
}

.option-title,
.member-options-sort label {
  padding: 5px;
}

.member-options-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.member-options-sort {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 0 !important;
  border-bottom: 1px solid var(--off-white);
}

.member-options-sort .form-group {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.member-options-list {
  width: 50%;
}

.option-list {
  list-style: none;
  margin-bottom: 10px !important;
  padding: 10px 0;
  user-select: none;
}

.option-list:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
}

.option-item {
  width: max-content;
  text-decoration: none;
  padding: 2px 8px;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 14px;
  font-size: 13px;
  margin-bottom: 5px !important;
}

.option-item:not(.active):hover {
  background-color: var(--off-white);
}

.option-item.active {
  background-color: var(--purple-light);
  color: var(--purple);
}

.options-button {
  display: flex;
  margin-left: auto;
  padding-bottom: 10px;
  padding-right: 10px;
}

.options-button button {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 !important;
    width: 100vw !important;
  }
  .app-sidebar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 999;
  }

  .navbar {
    height: 70px;
    position: relative;
  }

  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-user-options {
    margin: 0 0;
    margin-left: auto;
    padding: 0;
    transition: all 0.3s;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    justify-content: center;
  }

  .app-menu-toggler {
    font-size: 22px;
  }

  .profile-avatar {
    margin-left: 5px;
  }

  .profile-name-wrapper {
    width: calc(100% - 90px);
    padding: 0;
    margin: 0;
  }
  .profile-edit-button-div {
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
  }

  /* CELL MEMBERS MEDIA QUERY STYLES */
  .member-head-container {
    margin-bottom: 10px;
  }
  .member-head {
    flex-wrap: wrap;
    padding: 0;
  }
  .member-head-text {
    width: 80%;
  }

  .member-sortby {
    width: 100%;
    order: 3;
    margin-left: 0;
    justify-content: flex-start;
  }

  .member-sortby .form-group {
    width: auto;
  }

  .member-filters {
    order: 5;
    width: 100%;
    padding: 10px 0;
  }
  .member-searchbox {
    width: 100%;
    margin: 5px 0 0 0 !important;
    order: 4;
  }

  .member-menu-toggler {
    top: 0;
    right: 0;
    align-self: flex-start;
    order: 2;
  }

  .member-list {
    min-height: calc(100vh - 260px);
    max-height: calc(100vh - 260px);
  }

  .member-status {
    margin-left: 60px;
    padding: 0;
  }

  .member-status-wrapper {
    display: flex;
    flex-direction: column;
  }

  .member-status-wrapper small {
    margin-top: 10px;
  }

  .member-avatar {
    width: 40px;
    height: 40px;
  }

  .member-personal-details {
    width: calc(100% - 50px);
    margin-left: 0;
  }

  .float-options {
    padding: 10px 20px;
    min-width: 80vw;
  }

  .option-item {
    padding: 8px;
    font-size: 13px;
  }
  .wrapper {
    padding: 5px !important;
    border-radius: 0 !important;
  }

  .member-options-list:nth-child(1) {
    width: 38%;
  }

  .member-options-list:nth-child(2) {
    width: 62%;
  }
}
