* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1.6;
}

*::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: #dee2e6; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scroll thumb */
}

a,
a:visited,
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.nav-link {
  padding: 0.4rem 0.5rem !important;
  margin: 0 0.5rem !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition: all 0.3s;
  position: relative;
  color: var(--primary-light) !important;
}

.nav-link:not(.active):hover {
  background-color: var(--off-white);
}

.nav-link.active {
  background-color: var(--off-white);
}

.nav-link.options {
  padding: 10px !important;
  margin: 0 0 !important;
  font-weight: normal !important;
}

.nav-link.options span {
  margin-right: 5px;
}
/* .nav-link.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
} */

.nav-user-options {
  display: flex;
  align-items: center;
  margin: 0 0.6rem;
  margin-left: 1rem;
  height: 100%;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 32px;
  transition: all 0.3s;
  position: relative;
}

.nav-user-options:hover,
.nav-user-options:focus {
  background-color: var(--off-white);
}

.user-avatar,
.user-avatar-big {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--primary-light);
  cursor: pointer;
}

.user-avatar-big {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.user-avatar:hover {
  color: #fff !important;
}

.user-avatar-name {
  font-size: 13px;
  text-transform: uppercase;
  color: inherit;
}

.user-options {
  position: absolute;
  top: 90%;
  right: 90%;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  background-color: white;
  width: 130px;
  transform: scale(0);
  transition: transform 0.3s;
  padding: 3px 0;
}

.user-options.show {
  transform: scale(1);
}

.app-shadow {
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.app-uppercase {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* App Sidebar */
.app-sidebar {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 0.3s;
  z-index: 998;
}

.app-sidebar.show {
  transform: translateX(0);
}
.app-sidebar-mobile {
  width: 250px;
  height: 100%;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.app-sidebar-mobile.show {
  transform: translateX(0);
}
.app-sidebar-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.app-sidebar-logo {
  width: 60px;
}

.nav-group-label {
  color: #ccc;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 22px;
  margin-top: 10px;
}

.app-sidebar-text {
  font-size: 13px;
  text-transform: uppercase;
}
.app-sidebar-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--off-white);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.app-sidebar-icon {
  display: inherit;
  width: 20px;
}
.app-sidebar-link {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  transition: all 0.3s;
}
.app-sidebar-link:not(.active):hover {
  background-color: var(--primary-light);
  color: var(--off-white);
}
.app-sidebar-link.active {
  color: white;
  background-color: var(--gold);
}
.menu-close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .app-sidebar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 999;
  }

  .navbar {
    height: 70px;
    position: relative;
  }

  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-user-options {
    margin: 0 0;
    margin-left: auto;
    padding: 0;
    transition: all 0.3s;
  }

  .app-menu-toggler {
    font-size: 22px;
  }
}
/* menu toggler */
.app-menu-toggler,
.app-signout-btn,
.app-clipboard-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s;
}

.app-clipboard-btn {
  border-radius: 0;
  height: 100%;
}

.app-menu-toggler:hover,
.app-signout-btn:hover,
.app-clipboard-btn:hover {
  background-color: var(--off-white);
}

/* Customized Bootstrap CSS */
.form-control,
.form-control:focus {
  box-shadow: none !important;
  border-radius: 1px !important;
}

.form-control[readonly] {
  background-color: inherit !important;
}

.form-label,
.form-control {
  font-size: 14px !important;
}

.btn {
  border-radius: 1px !important;
}

/* PROFILE PAGE */
.profile-view-about {
  font-size: 14px !important;
}

.profile-view-about p {
  margin-bottom: 0 !important;
}
.profile-view-about p:not(.p-email) {
  text-transform: capitalize;
}
.profile-view-about .row {
  margin-bottom: 0.5rem !important;
}

.profile-view-about-head,
.profile-view-info-head {
  font-weight: 600;
}

/* tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 99;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
