.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

.not-found-page-404 {
  font-weight: bold;
  font-size: 40px;
}

.not-found-page-text {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
