$body-bg: #fafbfe;
$border-radius: 1;
$font-family-sans-serif: "Open Sans",
  // Safari for OS X and iOS (San Francisco)
    -apple-system,
  // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
  // Windows
    "Segoe UI",
  // Android
    "Roboto",
  // Basic web fallback
    "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
    "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;

$theme-colors: (
  "primary": #0a2749,
  "primary-light": #1e3957,
  "light-blue": #e3f2fd,
  "sky-blue": #2296f3,
  "gold": #cc922f,
  "body-color": #fafbfe,
  "off-white": #f1f3fa,
  "leader": #6f42c1,
  "admin": #dc3545,
);

@import "~bootstrap/scss/bootstrap";
